<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Title</title>
</head>
<body>

<div class="main_div">
<div class="banner">
    <div class="div_home">
        <a href="{{ url_for('index') }}"> <img class="home_image" src="{{ url_for('static', filename='home-icon.svg') }}" alt="SVG Icon" width="100" height="100"></a>
    </div>
    <div class="div_title">
        <h1 class="title">Welcome at final project app</h1>
    </div>
</div>

<div class="navi">
    <ul class="navi_list">
        <li>
            <a href="{{ url_for('product_table') }}">Product table</a>
        </li>
        <li>
            <a href="">Address table</a>
        </li>
        <li>
            <a href="">Customer table</a>
        </li>
        <li>
            <a href="{{ url_for('about') }}">About</a>
        </li>
        <li>
            <a href="{{ url_for('my_credits') }}">Credits</a>
        </li>
    </ul>
</div>
<div class="main">
    {% block content %} {% endblock %}
</div>
</div>

</body>
</html>