<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>9</td>
      <td>8713 Yosemite Ct.</td>
      <td>None</td>
      <td>Bothell</td>
      <td>Washington</td>
      <td>United States</td>
      <td>98011</td>
      <td>268AF621-76D7-4C78-9441-144FD139821A</td>
      <td>2006-07-01 00:00:00</td>
    </tr>
    <tr>
      <th>0</th>
      <td>11</td>
      <td>1318 Lasalle Street</td>
      <td>None</td>
      <td>Bothell</td>
      <td>Washington</td>
      <td>United States</td>
      <td>98011</td>
      <td>981B3303-ACA2-49C7-9A96-FB670785B269</td>
      <td>2007-04-01 00:00:00</td>
    </tr>
    <tr>
      <th>0</th>
      <td>25</td>
      <td>9178 Jumping St.</td>
      <td>None</td>
      <td>Dallas</td>
      <td>Texas</td>
      <td>United States</td>
      <td>75201</td>
      <td>C8DF3BD9-48F0-4654-A8DD-14A67A84D3C6</td>
      <td>2006-09-01 00:00:00</td>
    </tr>
    <tr>
      <th>0</th>
      <td>28</td>
      <td>9228 Via Del Sol</td>
      <td>None</td>
      <td>Phoenix</td>
      <td>Arizona</td>
      <td>United States</td>
      <td>85004</td>
      <td>12AE5EE1-FC3E-468B-9B92-3B970B169774</td>
      <td>2005-09-01 00:00:00</td>
    </tr>
    <tr>
      <th>0</th>
      <td>32</td>
      <td>26910 Indela Road</td>
      <td>None</td>
      <td>Montreal</td>
      <td>Quebec</td>
      <td>Canada</td>
      <td>H1Y 2H5</td>
      <td>84A95F62-3AE8-4E7E-BBD5-5A6F00CD982D</td>
      <td>2006-08-01 00:00:00</td>
    </tr>
    <tr>
      <th>0</th>
      <td>185</td>
      <td>2681 Eagle Peak</td>
      <td>None</td>
      <td>Bellevue</td>
      <td>Washington</td>
      <td>United States</td>
      <td>98004</td>
      <td>7BCCF442-2268-46CC-8472-14C44C14E98C</td>
      <td>2006-09-01 00:00:00</td>
    </tr>
    <tr>
      <th>0</th>
      <td>297</td>
      <td>7943 Walnut Ave</td>
      <td>None</td>
      <td>Renton</td>
      <td>Washington</td>
      <td>United States</td>
      <td>98055</td>
      <td>52410DA4-2778-4B1D-A599-95746625CE6D</td>
      <td>2006-08-01 00:00:00</td>
    </tr>
    <tr>
      <th>0</th>
      <td>445</td>
      <td>6388 Lake City Way</td>
      <td>None</td>
      <td>Burnaby</td>
      <td>British Columbia</td>
      <td>Canada</td>
      <td>V5A 3A6</td>
      <td>53572F25-9133-4A8B-A065-102FF35416EE</td>
      <td>2006-09-01 00:00:00</td>
    </tr>
    <tr>
      <th>0</th>
      <td>446</td>
      <td>52560 Free Street</td>
      <td>None</td>
      <td>Toronto</td>
      <td>Ontario</td>
      <td>Canada</td>
      <td>M4B 1V7</td>
      <td>801A1DFC-5125-486B-AA84-CCBD2EC57CA4</td>
      <td>2005-08-01 00:00:00</td>
    </tr>
    <tr>
      <th>0</th>
      <td>447</td>
      <td>22580 Free Street</td>
      <td>None</td>
      <td>Toronto</td>
      <td>Ontario</td>
      <td>Canada</td>
      <td>M4B 1V7</td>
      <td>88CEE379-DBB8-433B-B84E-A35E09435500</td>
      <td>2006-08-01 00:00:00</td>
    </tr>
  </tbody>
</table>